@font-face {
    font-family: 'AUTHENTICSans';
    src: url('AUTHENTICSans-130.otf');
}

body {
    font-family: 'AUTHENTICSans';
    background-color: rgb(204, 204, 204);
}

.container {
    font-family: 'AUTHENTICSans';
    padding: 10vw;
}

.main h1 {
    font-family: 'AUTHENTICSans';
    font-size: 36px;
    letter-spacing: 2px;
    padding: 0;
}

.main h2 {
    font-family: 'AUTHENTICSans';
    font-size: 36px;
    letter-spacing: 2px;
    margin-top: 10px;
    padding: 0;
}

.content {
    display: flex;
    margin-top: 40px;
    font-size: 24px;
    letter-spacing: 2px;
}

.info {
    width: 70%;
    padding-right: 140px;
}

.links {
    width: 50%;
}

.links ul {
    margin-bottom: 30px;
}

.footer li {
    font-family: 'AUTHENTICSans';
    font-size: 24px;
    letter-spacing: 2px;
}

li {
    list-style: none;
}

a {
    color: black !important;
}

a:hover {
    color: blue !important;
}

/* iframe styles */

.embedded-doc > div {
    background-color: #ffffff00 !important;
    padding: 0 !important;
    margin: 0 !important;
}

.embedded-doc > div > p {
    background-color: #ffffff00 !important;
    font-family: 'AUTHENTICSans' !important;
    font-size: 24px;
    letter-spacing: 2px;
}

.embedded-doc > div > p > span {
    background-color: #ffffff00 !important;
    font-family: 'AUTHENTICSans' !important;
    font-size: 24px;
    letter-spacing: 2px;
}

@media only screen and (max-width: 700px) {
    .content {
        flex-direction: column;
    }

    .info {
        width: 100%;
    }
    
    .links {
        width: 100%;
        margin: 40px 0 40px 0;
    }
}